:root {
  --background-color: #1c2321;
  --background-color1: #7d98a1;
  --background-color2: #5e6572;
  --background-color3: #a9b4c2;
  --background-color4: #eef1ef;
  --title-color: rgb(253, 225, 189);
  --stats-color: #a9b4c2;
  --primary-100: #1f3a5f;
  --primary-200: #4d648d;
  --primary-300: #acc2ef;
  --accent-100: #3d5a80;
  --accent-200: #cee8ff;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0f1c2e;
  --bg-200: #1f2b3e;
  --bg-300: #374357;

  /* --primary-100: #d4eaf7;
  --primary-200: #b6ccd8;
  --primary-300: #3b3c3d;
  --accent-100: #71c4ef;
  --accent-200: #00668c;
  --text-100: #1d1c1c;
  --text-200: #313d44;
  --bg-100: #fffefb;
  --bg-200: #f5f4f1;
  --bg-300: #cccbc8; */

  /* --primary-100: #ff7f50;
  --primary-200: #dd6236;
  --primary-300: #8f1e00;
  --accent-100: #8b4513;
  --accent-200: #ffd299;
  --text-100: #000000;
  --text-200: #2c2c2c;
  --bg-100: #f7eedd;
  --bg-200: #ede4d3;
  --bg-300: #c4bcab; */

  /* --primary-100: #0d6e6e;
  --primary-200: #4a9d9c;
  --primary-300: #afffff;
  --accent-100: #ff3d3d;
  --accent-200: #ffe0c8;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #0d1f2d;
  --bg-200: #1d2e3d;
  --bg-300: #354656; */

  /* --primary-100: #6c35de;
  --primary-200: #a364ff;
  --primary-300: #ffc7ff;
  --accent-100: #cb80ff;
  --accent-200: #373737;
  --text-100: #ffffff;
  --text-200: #e0e0e0;
  --bg-100: #241b35;
  --bg-200: #342a45;
  --bg-300: #4d425f; */
}
